.home {
    background-image: url(Images/brick-oven-pizza1.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.about {
    text-align: center;
    color: aliceblue;
    padding-top: 18%;
}
 .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  } 